/* body {
    overflow: hidden; /* Hide scrollbars */
  

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    clear: both;
    display: table;
  }

  

  table {
    max-width: 100%;
}

th, td {
    width: auto; /* or set percentage widths */
}
td {
  word-wrap: break-word;
  max-width: 100px; /* Adjust as needed */
}

@media (max-width: 767px) {
  .hide-on-mobile {
      display: none;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}