/* body {
    overflow: hidden; /* Hide scrollbars */
  

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    clear: both;
    display: table;
  }